p {
    color: brown;
    text-align: center;
    line-height: 30px;
}

h1 {
    text-align: center;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: black wavy underline;
}

h3 {
    text-align: center;
    color: black;
}

a{
    text-decoration: none;
    color: green;
}

button {
    background-color: whitesmoke;
    color: midnightblue;
}

textarea {
    color: black;
}

span {
    text-decoration: blue double underline;
}
